<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${user.Name }+ ' ' + ${user.lastName}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Author1.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="top-menu">
    <ul class="menu-main">
        <li><a th:href="@{/user/home}">Home</a></li>
        <li><a th:href="@{/user/books}">Books</a></li>
        <li><a th:href="@{/user/authors}">Authors</a></li>
        <li><a th:href="@{/user/WishList}">WishList</a></li>
        <li><a th:href="@{/user/About}">About</a></li>
        <li><a class="Logout" th:href="@{/logout }">Logout</a></li>
        </li>
    </ul>
</nav>
<div class="container">

    <div class="container">
        <form th:object="${author}">
            <div class="col-md-4 "><img  th:attr="src=${author.image}"/></div>
            <div class="col-md-8 right">
                <div>
                    <p><b>Name: </b> <span th:text="*{firstName} + ' ' + *{lastName}"></span></p>
                </div>
                <div>
                    <p><b>Date of birth: </b> <span th:text="*{birthdayDate}"></span></p>
                </div>
                <!--<div>-->
                    <!--<p><b>Books:</b><span th:each="book : ${author.books}"-->
                                                  <!--th:text="${book.Name}" th:href="@{'book/id='+${book.id}}"></span></p>-->
                <!--</div>-->
                <div> <a target="_blank" th:href="@{${wikiUrl}}" >Detail information</a></div>

            </div>
        </form>

        <div class="books col-md-12">
            <h2>Available books:</h2>
        <table>
            <tr>
                <th ></th>
                <th>NAME</th>
                <th>year</th>
            </tr>
            <tr th:each="book : ${books}">
                <td><a th:href="@{'/user/book/id='+${book.id}}"><img th:attr="src=${book.icon}"  class = "Photo"  width=52px; /></a></td>
                <td th:text="${book.name}">name</td>
                <!--<td th:text="${book.isbn}">isbn</td>-->
                <td th:text="${book.yearOfPublishing}">year of publishing</td>
            </tr>

        </table>
        </div>
    </div>
</div>
<div id="footer" class="row">
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class=" col-xs-6 col-md-4 rights">2017 © All rights reserved</div>
    <div class="col-xs-11 col-sm-5 col-md-6 admin">Admin: +380-98-221-2492</div>
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
</div>
</body>
</html>