<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${user.Name }+ ' ' + ${user.lastName}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/HomePage.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="top-menu">
    <ul  class="menu-main">
        <li><a th:href="@{/user/home}">Home</a></li>
        <li><a th:href="@{/user/books}">Books</a></li>
        <li><a th:href="@{/user/authors}">Authors</a></li>
        <li><a th:href="@{/user/WishList}">WishList</a></li>
        <li><a th:href="@{/user/About}">About</a></li>
        <li><a class="Logout" th:href="@{/logout }">Logout</a></li>
        </li>
    </ul>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/user/ChangeHomePage}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <h2>Change:</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{name}" placeholder="Name"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{lastName}"
                               placeholder="Last Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control" /> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control" /> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Change</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<div id="footer">
    <div class="rights">2017 © All rights reserved</div>
    <div class="admin">Admin: +380-98-221-2492</div>
</div>
</html>