@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
.container{
    min-height: 550px;
}
h2 {
    font-family: monospace;
    color: #606060;
}
ul {
    list-style: none;
    margin: 0 auto;
}
a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

nav {
    display: block;

    margin: 0 auto 0px;
}

.top-menu {
    width: 100%;
    position: relative;
    background: #515151;
    box-shadow: inset 0 0 10px #ccc;
}
.top-menu:before,
.top-menu:after {
    content: "";
    display: block;
    height: 1px;
    border-top: 3px solid #575350;
    border-bottom: 1px solid #575350;
    margin-bottom: 2px;
}
.top-menu:after {
    //border-bottom: 3px solid #575350;
    //border-top: 1px solid #575350;
    box-shadow: 0 2px 7px #ccc;
    margin-top: 2px;
}
.menu-main {
    list-style: none;
    padding: 0 0px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
}
.menu-main:before,
.menu-main:after {
    content: "\25C8";
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.menu-main:before {left: 15px;}
.menu-main:after {right: 15px;}
.menu-main li {
    display: inline-block;
    padding: 5px 0;
}
.menu-main a {
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    padding: 6px 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: rgb(225,225,225);
    transition: .3s linear;
}
.menu-main .current, .menu-main a:hover {
    //border-radius: 3px;
    background: #f3ece1;
    color: #313131;
    text-shadow: 0 1px 0 #fff;
    border-color: #c6c6c6;
}
@media (max-width: 500px) {
    .menu-main li {display: block;}
}







#footer {
    width: 101%;
    margin-top: 20px;
    background: rgb(81, 81, 81);
    height: 80px;
    color: rgb(204, 204, 204);

}

.rights {
    /*float: left;*/
    text-align:left;
    font-size: 15px;
    margin-top: 30px;
    padding-left: 80px;
    color: #fff;
}
.logo {
    margin-top: 25px;
    float: left;
}

.admin {
    margin-right: 0px;
    /*float: left;*/
    padding-right: 0px;
    font-size: 15px;
    /*margin-left: 850px;*/
    text-align: right;
    margin-top: 30px;
    color: #fff;
}